body{
    background: #efefed;
    margin: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
*{
    margin: 0;
    padding: 0;
}
hr{
    height: 0;
    border: none;
    border-top: 1px solid #DEDEDE;
}
ol,ul{
    list-style: none;
}
.clearfix::after{
    content: '';
    display: block;
    clear:both;
}
.topNavBar{
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.topNavBar-inner{
    padding: 0 16px;
}
.topNavBar nav{
    float: right;
}
.topNavBar nav>ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.topNavBar nav>ul>li{
    float: left;
    margin: 0 17px;
}
.topNavBar nav>ul>li>a{
    font-size: 12px;
    color: #B7B7B7;
    font-weight: bold;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    display: block;
    padding: 9px 0;
}
.topNavBar nav>ul>li>a:hover{
    border-bottom: 3px solid #e06567;
}
.topNavBar .logo{
    float: left;
    font-size: 24px;
    font-family: 'Arial Black';
    padding-top: 3px;
    padding-bottom: 4px;
}
.topNavBar .logo>.rs{
    margin-right: 4px;
    color: #e6686a;
}
.topNavBar .logo>.card{
    color: #9a90a2;
}

.banner{
    height: 600px;
    background: url("../image/rs-BgImage.jpg") no-repeat;
    background-size: cover;
}
.banner>.mask{
    height: 600px;
    background: rgba(0,0,0,0.6);
}

.userCard{
    max-width: 940px;
    /*border: 1px solid #e6686a;*/
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.5);
}

.picture > img{
    width: 299px;
    height: 347px;
    border: 1px silver solid;
}

.userCard .welcome{
    /*overflow: hidden;*/
    background-color: #e6686a;
    color: white;
    padding: 0 16px;
    height: 26px;
    display: inline-block;
    line-height: 26px;
    position: relative;
    margin-bottom: 26px;
}
.userCard .welcome .triangle{
    display: block;
    border: 10px solid transparent;
    width: 0;
    border-left-color:#e6686a;
    border-top-width: 0;
    position: absolute;
    left: 4px;
    top: 95%;
}

.userCard .picture{
    float: left;
}
.userCard .text{
    float: left;
    margin-left: 65px;
    width: 470px;
}
.userCard .pictureAndText{
    padding: 50px;
}
.userCard .text h1{
    margin-bottom: 10px;
}
.userCard .text hr{
    margin: 20px 0;
}
.userCard .text dl dt,
.userCard .text dl dd{
    float: left;
    padding: 5px 0;
}
.userCard .text dl dt{
    width: 30%;
    font-weight: bold;
}
.userCard .text dl dd{
    width: 70%;
    color: #9da0a7;
}


.userCard footer.media{
    background: #e6686a;
    text-align: center;
}

.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
.media{
    padding: 16px;
}
.media svg{
    width: 30px;
    height: 30px;
    fill: #fff;
    vertical-align: top;
}
.media a {
    margin-right: 20px;
    display: inline-block;
    border-radius: 50%;
    width: 40px;
    padding: 5px 0;
    line-height: 30px;
}
.media a:hover{
    background: #cf5d5f;
}
.media a:last-child{
    margin-right: 0;
}

.main{
    margin-top: -455px;
}
.main .downloadWrap{
    text-align: center;
    padding: 30px 0;
}
.main .downloadResume{
    display: inline-block;
    font-size: 14px;
    padding: 21px 55px;
    line-height: 16px;
    border: 1px solid #cdcfD1;
    background: #efefef;
    border-radius: 5px;
    color: #3d4451;
    font-weight: bold;
    transition: box-shadow 0.2s;
}
.main .downloadResume:hover{
    box-shadow: 0 4px 13px 0 rgba(0,0,0,0.2);
}

.main .selfIntroduction{
    text-align: center;
    font-size: 16px;
    line-height: 28px;
}

section.skills,
section.portfolio
{
    max-width: 940px;
    margin: 60px auto 0;
}
section.skills >h2,
section.portfolio >h2
{
    text-align: center;
    font-size: 34px;
    line-height: 1.2;
    font-weight: normal;
    margin-bottom: 30px;
}
section.skills >ol{
    list-style: none;
    background: white;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.5);
    padding: 40px 50px 10px ;
}
section.skills >ol>li{
    width: 48%;
    float: left;
    box-sizing: border-box;
    margin-bottom: 36px;
}
section.skills > ol > li:nth-child(even){
    float: right;
}
section.skills >ol>li>h3{
    font-size: 14px;
    line-height: 1.2;
    padding-right: 40px;
    font-weight: normal;
    margin-bottom: 5px;
}
.skills .progressBar{
    height: 5px;
    background: #fae1e1;
    border-radius: 5px;
}
.skills .progressBar>.progress{
    height: 100%;
    background: #e6686a;
    width: 70%;
    border-radius: 5px;
}
section.portfolio{
 text-align: center;
}
section.portfolio > nav{
    text-align: center;
    display: inline-block;
}
section.portfolio > nav >ol{
    display: inline-block;
    vertical-align: top;
}
section.portfolio > nav >ol>li{
    float: left;
    margin-left: 40px;
    cursor: pointer;
}
section.portfolio > nav >ol>li:first-child{
    margin-left: 0;
}
section.portfolio > nav .bar{
    height: 5px;
    background: white;
    border-radius: 2px;
    margin-top: 5px;
}
section.portfolio > nav .bar-inner{
    background: #e6686a;
    height: 100%;
    border-radius: 2px;
    transition: all 0.3s;
}

section.portfolio > nav .bar.state-1 .bar-inner{
    margin-left: 0;
    width: 32px;
}
section.portfolio > nav .bar.state-2 .bar-inner{
    margin-left: 65px;
    width: 50px;
}
section.portfolio > nav .bar.state-3 .bar-inner{
    margin-left: 141px;
    width: 50px;
}

section.portfolio .works{
    position: relative;
    height:597px;
    margin-top: 40px;
}
section.portfolio .works img{
    width: 100%;
    height: 100%;
}
section.portfolio .works>.big,
section.portfolio .works>.small
{
    position: absolute;

}
section.portfolio .works>.big{
    top: 0;
    left: 0;
    width: 615px;
    height: 580px;
}
section.portfolio .works>.small{
    width: 293px;
    height: 290px;
    top: 0;
    right: 0;
}
section.portfolio .works>.small2{
    top: 290px !important;
    right: 0;
}


.welcomeWrap{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #888;
    z-index: 1;
    justify-content: center;
    align-items: center;
}
.welcomeWrap.loadingActive{
    display: flex;
}